version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: energy_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: energy
    ports:
      - '5432:5432'
